
<!DOCTYPE html>

{% include "nav.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<style>
    body{
        background-color:darkcyan;
        text-align: center;
        
    }
    h3{
        text-decoration-color: brown;
    }
    a{
        text-decoration: underline;
    }
    small{
        color:red;

    }
</style>
<body>
    <h3>you have been logged out</h3><br>
    <h4>to login again</h4>
    <a href="{% url 'login' %}"><small>click here<small/></a>
     

</body>
</html>