<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{%static 'css/style2.css'%}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The last trumpet</title>



</head>
<body>
    
    <div class="nav container">
        <nav>
        <div class="logo">
           <img src="{% static 'images/trumpet1.jpeg' %}" alt=trumpet>
        </div>
        
        <ul class="dropdown"></ul> 
        
      
      <li><a href="/">Home</a></li>
      <li><a href="/visit">visit</a></li>
      <li><a href="/register">register</a></li>
        <li><a href="/login">log in</a></li>
      
      
       
   
</div>
  
  
</nav>
</body>
</html>
