{% include "navbar.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>password reset done</title>
</head>
<style>
    body{
        background-color: burlywood;
    }
    h4{
        text-align: center;
        text-decoration-color: crimson;
        margin-top: 50px;
    }
</style>
<body>
    <h4 >instructions has been sent to your email to reset your password</h4>
</body>
</html>