
{% include "navbarauth.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>password changed</title>
</head>
<style>
    body{
        background-color: blanchedalmond;
    }
    h4{
        text-decoration-color: brown;
        text-align: center;
        margin-top: 50px;
       
    }
    a{
        text-decoration: underline;
    }
</style>
<body > 
    <h4>your password has been changed</h4>
    <h4> <a href="/login">login with your new password</a></h4>
</body>
</html>